*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    list-style: none;
    font-size: 20px;
}
nav{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 500ms;
}
ul{
    display: flex;
    justify-content: left;
}
body{
    justify-content: center;
   align-items: center; 
   overflow-x: hidden;
   background-color: #425F57;
   font-size:20px;

}
.searchBox{
    position: relative;
    width: 65px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    top: 0;
    right: 0;
}
.searchBox:hover{
    width: 400px;
}
.searchBox::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 10px;
    height: 100%;
    background: linear-gradient(#fff,#fff,#e3e3e3);
    z-index: 1;
    filter: blur(1px);
}
.searchBox::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    /* background:  #cfd1e1; */
    z-index: 1;
    filter: blur(1px);
    
}
.shadow{
    position: absolute;
    top: 0;
    width: calc(100% + 50px);
    left: -50px;
    height: 300px;
    background: linear-gradient(180deg, rgba(0,0,0,0.1),
     transparent,transparent);
    transform-origin: top;
    transform: skew(45deg);
    pointer-events: none;     
}
.shadow::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 1;
}
.searchBox input::placeholder,
.searchBox input
{
    color: transparent;
}

.searchBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 1.1em;
    color:rgb(97, 27, 27);
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 15px rgba(0,0,0,0.1),
    30px 30px 15px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.div-1{
    background-color:#749F82;
    width: 50%;
    height: 100px;
    border: 2px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 2px -5px #A8E890 ;
    border-radius: 20px 50px 20px 20px;
}
.text{
    color: white    ;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
}

.div-2{
    background-color:#749F82;
    width: 45%;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 20px 20px 5px;
    flex-direction: column;
}
.div-3{
    background-color:#749F82;
    width: 45%;
    height: 100px;
    border: 2px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px 50px 5px 20px;
    flex-direction: column;
}
.div-2 > span{
    text-align: center;
}
.div-2 > u{
    text-align: center;
}
.div-3 > span{
    text-align: center;
}
.div-3> u{
    text-align: center;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.div-4{
    background-color:#749F82;
    width: 40%;
    height: 250px;
    border: 2px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 2px -5px #A8E890 ;
    border-radius: 20px;
    flex-direction: column;
}
.div-4 > u{
    text-align: center;
}
.div-4 > span{
    text-align: center;
}
.div-4 > img{
    width: 60%;
    border-radius: 50px;
}
.fin{
    background-color: black;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.fin > a > img{
    width: 5%;

}