*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    list-style: none;
    font-size: 20px;
}
nav{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 1px;
    transition: 500ms;

}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    right: 0;

}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(45deg, red, blue);
   overflow: hidden;
   color: white;
}
.searchBox{
    position: relative;
    width: 65px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    top: 0px;
}
.searchBox:hover{
    width: 400px;
}
.searchBox::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 10px;
    height: 100%;
    background: linear-gradient(#fff,#fff,#e3e3e3);
    z-index: 1;
    filter: blur(1px);
}
.searchBox::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    /* background:  #cfd1e1; */
    z-index: 1;
    filter: blur(1px);
    
}
.shadow{
    position: absolute;
    top: 0;
    width: calc(100% + 50px);
    left: -50px;
    height: 300px;
    background: linear-gradient(180deg, rgba(0,0,0,0.1),
     transparent,transparent);
    transform-origin: top;
    transform: skew(45deg);
    pointer-events: none;     
}
.shadow::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 1;
}
.searchBox input::placeholder,
.searchBox input
{
    color: transparent;
}
/* .searchBox:hover input::placeholder,
.searchBox:hover input  */

.searchBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 1.1em;
    color:rgb(97, 27, 27);
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 15px rgba(0,0,0,0.1),
    30px 30px 15px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
}
ion-icon{
    position: absolute;
    right: 20px;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
}